.post-detail {
  &_title {
    margin: 20px 0 30px 0;
  }

  &_description {
    width: 500px;
    text-align: justify;
    line-height: 25px;
  }

    &_content {
        display: flex;
        justify-content: space-between;
    }
}

.title {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0 0 13px 2px;
  text-transform: capitalize;
  border-bottom: 1px solid #DDD;
}
