.post {
  &-lists {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
  }

  &-wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px 18px 22px 18px;
    background: #fff;
    border: 1px solid #ddd;
  }

  &-info {
    display:flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap:wrap;
    margin-bottom: 10px;
  }

  &-title {
    margin-bottom: 7px;
    font-weight: bold;
    font-size: 0.9rem;
    line-height: 1.5em;
  }

  &-preview {
    font-size: 0.9rem;
    margin-bottom: 7px;
  }

  &-img {
    position: relative;
    overflow: hidden;

    //img {
    //  height: auto;
    //  max-height: 250px;
    //  width: auto;
    //  max-width: 250px;
    //}
  }
}
