.img {
  img {
    height: auto;
    max-height: 250px;
    width: auto;
    max-width: 250px;
  }

  &--empty {
    background-color: gray;
  }

  &--no-image {
    object-fit: contain;
  }

  &--darkened {
    img {
      filter: brightness(.5);
    }
  }
}

.loader {
  color: #222222;
}